<a href="https://colab.research.google.com/github/PRATIKHM/PYTHON/blob/main/Exp_NO_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### PRATIK H MANKAR
### Roll No.31
#### Exp.NO.11

##### Program to Demonstrate Data Series using Pandas

In [ ]:
import pandas as pd

##### Creating a Series from a list

In [ ]:
data_list = [10, 20, 30, 40, 50]
series1 = pd.Series(data_list)
print("Series from list:\n", series1)

Series from list:
 0    10
1    20
2    30
3    40
4    50
dtype: int64

##### Creating a Series with custom indices

In [ ]:
custom_index = ['a', 'b', 'c', 'd', 'e']
series2 = pd.Series(data_list, index=custom_index)
print("Series with custom index:\n", series2)

Series with custom index:
 a    10
b    20
c    30
d    40
e    50
dtype: int64

##### Accessing elements

In [ ]:
print("Accessing element at index 'c':", series2['c'])

Accessing element at index 'c': 30

##### Performing operations on Series

In [ ]:
print("Adding 5 to each element:\n", series2 + 5)

Adding 5 to each element:
 a    15
b    25
c    35
d    45
e    55
dtype: int64

##### Creating Series from a dictionary

In [ ]:
data_dict = {'Math': 80, 'Physics': 90, 'Chemistry': 85}
series3 = pd.Series(data_dict)
print("Series from dictionary:\n", series3)

Series from dictionary:
 Math         80
Physics      90
Chemistry    85
dtype: int64

##### Checking basic statistics

In [ ]:
print("Maximum marks:", series3.max())
print("Subjects scored above 85: \n", series3[series3 > 85])

Maximum marks: 90
Subjects scored above 85:
 Physics    90
dtype: int64